Slides were originally created by Dr. Milena Tsvetkova,  London School of Economics.

##Objects, Data Types, and Expressions

* Computer programs manipulate objects
* Objects have types
  * Scalar —  single value such as 5, 3.14, or ‘Bob’.
  * Non-scalar — multiple values (Sequance and no sequance)
* Expressions combine objects and operators

# Scalar Data Types - Single Value

* Integer
* Float
*complex
* Boolean
* NoneType
* (String is non-scalar in Python)

In [2]:
print(type(2))
print(type(1.125))
print(type(2+6j))
print(type(True))
print(type(False))
print(type(None))
print(type('a'))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>

## Converting between Scalar Data Types

* Use the name of a type to convert values to that type

In [6]:
a = float(123)
b = int('32')
print (type(a),type(b))
print(a)

<class 'float'> <class 'int'>
123.0

## Operators


* Arithmetic
* Boolean
* Comparison
* Assignment
* Membership

### Arithmetic Operators

* `+` &nbsp;&nbsp; addition
* `-` &nbsp;&nbsp; subtraction
* `*` &nbsp;&nbsp; multiplication
* `/` &nbsp;&nbsp; division
* `%` &nbsp;&nbsp; modulus
* `//` &nbsp;&nbsp; floor division
* `**` &nbsp;&nbsp; exponent

In [ ]:
# + and * have different meanings depending on the types of objects with which they are used
print(2+2)
print('a'+'bc')
print(3*2)
print(3*'a'+'h!')

4
abc
6
aaah!

### Boolean Operators

* `and`
* `or`
* `not`

In [ ]:
print(True and False)
print(True or False)
print(not False)

False
True
True

### Comparison Operators

* `==` &nbsp;&nbsp; equals
* `!=` &nbsp;&nbsp; does not equal
* `>` &nbsp;&nbsp; is greater than
* `<=` &nbsp;&nbsp; is less than or equal, etc.

In [9]:
a=2
print (a>0 and a<10)

True

### Assignment Operators

* `=` &nbsp;&nbsp; assign right operand to left operand
* `+=` &nbsp;&nbsp; add right operand to left operand and assign to left operand
* `-=` &nbsp;&nbsp; subtract right operand from left operand and assign to left operand, etc.

In [11]:
a = 2
a -=3 # Equivalent to a = a + 3
print(a)

-1

### Comparison vs. Assignment Operators

In [ ]:
a = 2 # This is assignment
print(a==1) # This is test for equality. It returns bool.

False

### Membership Operators

* `in` &nbsp;&nbsp; left element is in right sequence

In [14]:
print('x' not in 'abcdefg')

True

In [17]:
a="t"
print (type(a))

<class 'str'>

# Non-Scalar Data Types

* List – a mutable ordered sequence of values
* Tuple – an immutable ordered sequence of values
* String – an immutable ordered sequence of characters
* Set – a mutable unordered collection of unique values
* Dictionary – a set of key/value pairs

In [19]:
list_var = [1, 2, 2, 'a', 'a',[1,2]] # list
tuple_var = (1, 2, 'a', 'b') # tuple
set_var = {1 , 2, 2, 'a', 'b'} # set 
dict_var = {'A': 'a', 2: 'b', 3: 'c'} # dictionary
print(set_var)

{1, 2, 'b', 'a'}

## Converting between Non-Scalar Data Types

* Use the name of a type to convert values to that type

In [ ]:
tup = tuple([1, 2, 3]) 
dic = dict( [(1, 'a'), (2, 'b'), (3, 'c')] )
ls1=list((1,2,3,4))
print(tup, dic, ls1, type(ls1))

(1, 2, 3) {1: 'a', 2: 'b', 3: 'c'} [1, 2, 3, 4] <class 'list'>

## Length of Non-Scalar Objects

* The `len()` function returns the length of the element

In [ ]:
print( len( [0,1,2] ) )
print( len('ab') )
print( len( (1,2,3,4,'a') ) )
print( len( {1:'a', 2:'b'} ) )

3
2
5
2

## Strings

* You can write string literals in different ways
  * Single quotes: `'allows embedded "double" quotes'`
  * Double quotes: `"allows embedded 'single' quotes"`
  * Triple quoted: `'''Three single quotes'''`, `"""Three double quotes"""`

In [ ]:
'''Triple quoted strings may span multiple lines - 
all associated whitespace will be included 
in the string literal.'''

'Triple quoted strings may span multiple lines - \nall associated whitespace will be included \nin the string literal.'

### Objects Have Methods Associated with Them

### `object.method()`

Use the period `.` to link the method to the object.

In [ ]:
string1 = 'Hello'

string1 + '!'   # This is an operator. Operators combine objects in expressions.
len(string1)   # This is a function. Functions take objects as arguments.
string1.upper()   # This is a method. Methods are attached to objects.

'HELLO'

In [21]:
word1="mahdi"
print(word1, type(word1))
print(word1.upper())

mahdi <class 'str'>
MAHDI

### String Methods: Formatting

* `S.upper()` – change to upper case
* `S.lower()` – change to lower case
* `S.capitalize()` – capitalize the first word
* `S.find(S1)` – return the index of the first instance of input

In [22]:
str1='Make me scream!'
print(str1.upper())
print('Make me scream!'.upper())
x = 'make this into a proper sentence. this is test'
print(x.capitalize()+'.')

print('FInd the first "i" in this sentence.'.find('i'))

MAKE ME SCREAM!
MAKE ME SCREAM!
Make this into a proper sentence. this is test.
10

### String Methods: `strip` and `replace`

* `S.replace(S1, S2)` – find all instances of input1 and change to input2
* `S.strip(S1)` – remove whitespace characters from a string (useful when reading in from a file)

In [26]:
x = ' This is a long sentence that we will use as an example.\n'
print(x)
print(x.replace('s', 'S'))
print(x.strip())
print(x.replace(' ', ''))
x=x.strip()
print(x)

 This is a long sentence that we will use as an example.

 ThiS iS a long Sentence that we will uSe aS an example.

This is a long sentence that we will use as an example.
Thisisalongsentencethatwewilluseasanexample.

This is a long sentence that we will use as an example.

### String Methods: `split` and `join`

* `S.split(S1)` – split the string into a list
* `S.join(L)` – combine the input sequence into a single string

In [27]:
x = 'this is a collection of words i would like to break it into tokens'
y = x.split()    # default is to split on ' '
print(y)
print(type(y))
print(x.split('o')) 

x_new = '-'.join(y)
print(x_new)

['this', 'is', 'a', 'collection', 'of', 'words', 'i', 'would', 'like', 'to', 'break', 'it', 'into', 'tokens']
<class 'list'>
['this is a c', 'llecti', 'n ', 'f w', 'rds i w', 'uld like t', ' break it int', ' t', 'kens']
this-is-a-collection-of-words-i-would-like-to-break-it-into-tokens

## Unordered Types vs. Sequences

* Unordered types: `set`, `dict`
* Ordered (sequence) types: `str`, `list`, `tuple`

In [ ]:
st = {1, 2, 2, 'a', 'b'} # sets are unordered
print(st)

{'b', 1, 2, 'a'}

## Set Methods

![Set operations](figs/sets.png "Set operations")

* `S1.union(S2)`, `S1|S2` — elements in S1 or S2, or both
* `S1.intersection(S2)`, `S1&S2` — elements in both S1 and S2
* `S1.difference(S2)`, `S1-S2` — elements in S1 but not in S2
* `S1.symmetric_difference(S2)`, `S1^S2` — elements in S1 or S2 but not both

In [28]:
st1 = set('homophily')
print (st1)
st2 = set('heterophily')
print(st1 ^ st2)

{'y', 'h', 'i', 'l', 'o', 'p', 'm'}
{'t', 'r', 'e', 'm'}

## Dictionary Operations: Indexing

* Dictinaries are indexed by keys

In [31]:
mydic = {'Howard': 'aerospace engineer', 'Leonard': 'physicist', 'Sheldon': 'physicist', 
         'Penny': 'waitress', 'Raj': 'astrophysicist'}
print(mydic['Raj'])
print (mydic.keys())
print (mydic.values())

astrophysicist
dict_keys(['Howard', 'Leonard', 'Sheldon', 'Penny', 'Raj'])
dict_values(['aerospace engineer', 'physicist', 'physicist', 'waitress', 'astrophysicist'])

## Sequence Operations: Indexing

* Lists, tuples, and strings are indexed by numbers

In [ ]:
'ABCDEFG'[2]

'C'

### Indexing in Python starts from 0!

![Indexing arrays](figs/indexing.png "Indexing arrays")

### Sequence Operations: Indexing

* Use `elem[index]` to extract individual sub-elements

In [34]:
print( 'abc'[0] ) 
print( (1,2,3)[-2]) # use negative numbers to index from the end
print( [1,2,3][3])

a
2

IndexError: ignored

### Sequence Operations: Slicing

* Use `elem[start:end]` to get sub-sequence starting from index `start` and ending at index `end-1`

In [ ]:
ls = [1,2,3,4,5]
print( ls[1:4] ) 
print( ls[:3] )
print( ls[1:] )

print(ls[:]==ls[0:len(ls)])

[2, 3, 4]
[1, 2, 3]
[2, 3, 4, 5]
True

### Sequence Operations: Extended Slices

* Use `elem[start:end:step]` to get sub-sequence starting from index `start`, in steps of `step`, ending at index `end-1`

In [35]:
ls = [1,2,3,4,5]
print( ls[::2] ) # get elements with even indeces

[2, 4]

### More Sequence Operations

In [40]:
tup1 = 3*(1,) # Notice that tuple of length 1 needs comma!
ls1=3*[1]
tup2 = tup1 + (2,2) # Concatenate the two elements
ls2=ls1+[2,2]
print(tup1, tup2)
print (ls1,ls2)

print( max(tup2) ) # or min()
print (max(ls2))
print( sum(tup2) )
print (sum(ls2))
print( tup2.count(1) )
print(ls2.count(1))
print(tup2.index(2))
print(ls2.index(2))

(1, 1, 1) (1, 1, 1, 2, 2)
[1, 1, 1] [1, 1, 1, 2, 2]
2
2
7
7
3
3
3
3

In [41]:
3*(1)

3

## Mutability

* Immutable types: `str`, `tuple` (as well as all scalars)
* Mutable types: `list`, `set`, `dict`

**Objects of mutable types can be modified once they are created.**

In [ ]:
dic = {1:'a', 2:'b'}
dic[3] = 'c'
print(dic)

ls = [5, 4, 1, 3, 2]
ls.sort()
print(ls)

{1: 'a', 2: 'b', 3: 'c'}
[1, 2, 3, 4, 5]

### Mutability Can Be Quite Convenient

There are several useful list methods, see http://docs.python.org/3/library/stdtypes.html#mutable-sequence-types:

* `L.append(e)`
* `L.insert(i, e)`
* `L.remove(e)`
* `L.extend(L1)`
* `L.pop(i)`
* `L.sort()`
* `L.reverse()`

In [45]:
L1 = [1, 2, 3]
L1.append(4)
print(L1)
L1.extend([5, 6, 7, 8, 9, 10])
print(L1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Mutability Can Also Be Dangerous

In [ ]:
L1 = [1, 2, 3]
L2 = [4, 5, 6, 7]

L1.append(L2)
print(L1)
print(L2)

L2.extend([8, 9, 10])
print(L2)
print(L1)

[1, 2, 3, [4, 5, 6, 7]]
[4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, [4, 5, 6, 7, 8, 9, 10]]

### Aliasing vs. Cloning

![Aliasing](figs/aliasing.png "Aliasing")

In [47]:
L1 = [1, 2, 3]
L2 = L1[:]  # Using [:] is one way to clone
L3 = L1
print(L1,L2,L3)

L1.reverse()
print(L1,L2,L3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[3, 2, 1] [1, 2, 3] [3, 2, 1]

##List Methods

### List Methods: `append` vs. `extend`

In [ ]:
mylist = [1, 2, 3, 4]
mylist.append(5)
print(mylist)

mylist.extend([8, 7, 6])
print(mylist)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 8, 7, 6]

### List Methods: `remove` vs. `pop`

In [ ]:
mylist = [1, 2, 3, 4]
mylist.remove(1)
print(mylist)

mylist = [1, 2, 3, 4]
mylist.pop(1)
print(mylist)

[2, 3, 4]
[1, 3, 4]

### List Methods: `L.sort()` vs. `sorted(L)`

In [ ]:
mylist = [4, 5, 2, 1, 3]
mylist.sort()  # Sorts in-place. It is more efficient but overwrites the input.
print(mylist)

mylist = [10, 9, 6, 8, 7]
sorted(mylist) 
print(mylist)

newlist = sorted(mylist)  # Creates a new list that is sorted, not changing the original.
print(mylist, newlist)

[1, 2, 3, 4, 5]
[10, 9, 6, 8, 7]
[10, 9, 6, 8, 7] [6, 7, 8, 9, 10]

# Summary: Data Types in Python


| Type     | Scalar     | Mutability | Order   
| :------: |:----------:|:----------:| :---------:
| `int`    | scalar     | immutable  |             
| `float`  | scalar     | immutable  |  
| `bool`   | scalar     | immutable  | 
| `None`   | scalar     | immutable  | 
| `str`    | non-scalar | immutable  | ordered
| `tuple`  | non-scalar | immutable  | ordered
| `list`   | non-scalar | mutable    | ordered
| `set`    | non-scalar | mutable    | unordered
| `dict`   | non-scalar | mutable    | unordered

* Objects have types
* Objects have methods